@media screen and (min-width: 700px) {
    header {
        justify-content: flex-start;
    }

    #menu {
        display: none;
    }

    nav {
        display: block;
    }

    nav ul {
        display: flex;
    }

    nav li {
        flex: 1;
    }

    nav a {
        text-align: center;
        border-left: none;
        border-bottom: 3px solid transparent;
    }

    nav a:hover,
    nav a.active {
        border-bottom-color: var(--gold);
    }

    .top-sections {
        grid-template-columns: 3fr 2fr;
    }

    .about,
    .student-photo {
        min-height: 300px;
    }

    .student-photo img {
        width: calc(100% - 40px);
        max-width: 380px;
        margin: 18px auto;
    }

    #course-list {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    .course-card {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}