@media (min-width: 40rem) {
  #menu-button {
    display: none;
  }

  nav,
  nav.open {
    display: flex;
    position: static;
    border: none;
  }

  nav a {
    padding: 0.5rem 1rem;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 64rem) {
  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
